<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>pulp records</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>

<body>
  <!----------------navbar---------------->
  <nav class="navbar" role="navigation">
    <div class="nav-wrapper container">
      <div>
        <a href="#"><img id="pulp-logo" src="../static/images/pulp-records-logo1.png"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">Records</a></li>
        <li><a href="#">Add Record</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Records</a></li>
        <li><a href="#">Add Record</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <!---------------------section------------------------>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div class="row">
          <div class="upper-banner col s12 m6" id="text-banner">
          <h3>Register and find your favorites record</h3>
          <a href="#" id="recordsPageButton" class="btn-small waves-effect waves-light yellow darken-1">Get Started!</a>
          </div>
          <div class="botton-banner col s12 m6 ">
          <img id="pulp-logo-banner" src="../static/images/pulp-records-logo1.png">
          </div>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="../static/images/background-img.jpg" alt="Unsplashed background img 1"></div>
  </div>

<!-----------------------Icon Section-------------------->
  <div class="container icon-cection">
    <div class="section">
      <div class="row">

        <div class="col s12 m3">
          <div class="icon-block">
            <div class="record-images center">
              <img src="../static/images/record-img1.jpg">
            </div>
            <h6 class="record-images-name center">Jimi Hendrix</h6>
            <p class="light">We did most of the heavy lifting for yrporate our custom components. Additionally, we refined animations and transitions to provide a sms.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <div class="record-images center">
              <img src="../static/images/record-img2.jpg">
            </div>
            <h6 class="record-images-name center">Death</h6>
            <p class="light">By utilizing elements and principles of Material Design, we were able to create platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <div class="record-images center">
              <img src="../static/images/record-img3.jpg">
            </div>
            <h6 class="record-images-name center">Clash</h6>
            <p class="light">We have provided detailed documentation as well as specific code exaswer any questions a user may have about Materialize.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <div class="record-images center">
              <img src="../static/images/record-img4.jpg">
            </div>
            <h6 class="record-images-name center">Specials</h6>
            <p class="light">We have provided detailed documentation as well as specific code examples to help estions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper" id="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 parallax-container-text"> Find your favorites records</h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../static/images/background-img2.jpg" alt="Unsplashed background img 2"></div>
  </div>
<!-----
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>
    </div>
  </div>--->

  <!----
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="background3.jpg" alt="Unsplashed background img 3"></div>
  </div>--->

  <!---------------------Footer----------------------->
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        c 2020 Copyright Pulp Records
      </div>
    </div>
  </footer>


  <!--  Scripts-->

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
