
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
/*-----------------------<-Background picture->-----------------------*/

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: #F2F2F2;
  padding-top: 70px;
}

.background-upper {
  min-height: 513px;
}

.parallax-container .section {
  width: 100%;
}


main {
  background: url('../images/background-img.jpg') no-repeat center center fixed;
  background-size: cover;
}

header{
  background-color: rgba(153, 13, 13, 0.918) !important;
}

.image-section, .page-footer {
  background-color: rgba(153, 13, 13, 0.918) !important;
}


#background-upper-image {
  background-image: url(../images/background-img.jpg);
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#background-under-image {
  background-image: url(../images/background-img2.jpg);
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax-container{
  padding-top: 1px;
}
/*----------------------------<-Header->------------------------------*/

.navbar{
  background-color: rgba(153, 13, 13, 0.795);
}

#pulp-logo {
  width: 65px;
}

nav ul a,
nav {
  color: #E9D603;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: 'Alfa Slab One', sans-serif;
  text-shadow: black 2px 2px;
}

.sidenav-trigger {
  color: #F2F2F2;
}


/*---------------------------<-Section->------------------------------*/
.h4header {
  font-family: 'Alfa Slab One', sans-serif;
  color: #F2F2F2;
}

.div-label {
  font-family: 'Alfa Slab One', sans-serif;
  color: #F2F2F2;
}

input {
  color: #F2F2F2 !important;
}

textarea {
  color: #F2F2F2 !important;
}

.record-description {
  font-family: 'sans-serif';
  color: #F2F2F2;
}

.title {
  font-family: 'Alfa Slab One', sans-serif;
  color: #F2F2F2;
  font-size: x-large;
}

#info-container {
  background-color: rgba(153, 13, 13, 0.795);
  padding: 20px 50px 50px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.nav-wrapper {
  width: 85% !important;
}

nav .sidenav-trigger {
  float: right;
}
nav{
  height: 64px !important;
}

#text-banner{
  display: inline-block;
}
#text-banner h3{
  font-weight: 400;
  font-family: 'Alfa Slab One', sans-serif;
  color: #F2F2F2;
}

#recordsPageButton {
  color: black;
  
}

#pulp-logo-banner {
  float: right;
  width: 200px;
}

@media only screen and (max-width : 600px) {
  .upper-banner, .botton-banner, #pulp-logo-banner, h3{
    text-align: center;
    display: inline-block;
    float: none;
    font-size: 2rem;
  }
}

/*-----Registration and login Flash-------*/

span, .error {
  color: #dad3d2;
  padding-left: 45px;
  font-weight: 300;
}

.toast{
  display: block;
}

/*--------------Icon Section----------------*/

.icon-cection{
  background-color:rgba(153, 13, 13, 0.082);
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.record-images img{
  max-width: 60%;
}
.record-images-name {
  font-family: 'Alfa Slab One', sans-serif;
  color: #E9D603;
  text-shadow: black 2px 2px;
}

.icon-block p{
  color: #F2F2F2;
}


.parallax-container-text{
  font-family: 'Alfa Slab One', sans-serif;
  font-weight: 200;
  text-shadow: black 2px 2px;
}

/*---------------add records-----------*/

#btn-box {
  text-align: center;
}

.select-wrapper input.select-dropdown {
  color: #F2F2F2 !important
}
.select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup {
  color: black !important;
  background-color: #dad3d2;
}
.dropdown-content li>a, .dropdown-content li>span {
  color: black !important;
}
/*----------------records---------------*/
.img-collection{
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
}
.img-collection:hover {
  color: #dad3d246 !important;
}
/*----------------view record---------------*/
.collapsible-body, span {
  color: #F2F2F2 !important;
  font-size: large;
}

/*---------------------------<-Footer->-------------------------------*/
footer.page-footer {
  margin: 0;
}

.teal {
  background-color:rgba(153, 13, 13, 0) !important;
}
