{% extends 'base.html' %} {% block content %}
<div class="container">
    <h3 class="center">Add Record</h3>
    <div class="row">
        <form action="{{url_for('insert_reviews')}}" method="POST" class="col s12">
            <div class="row">
                <div id="recordfix" class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">poll</i>
                        <select id="genra_name" name="genra_name">
                    <option value="" disabled selected>Choose Genra</option>
                    {% for gen in genra %}
                        <option value="{{gen.genra_name}}">{{gen.genra_name}}</option>
                    {% endfor %}
                    </select>
                    </div>
                </div>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="artist_name" name="artist_name" type="text" placeholder="Artist">
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="record_title" name="record_title" type="text" placeholder=" Record Title">
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="record_image" name="record_image" type="text" placeholder="Record Image">
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="product_link" name="product_link" type="text" placeholder="Link to Discogs">
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">subject</i>
                    <textarea name="record_description" id="record_description" class="materialize-textarea" placeholder="Bio"></textarea>
                </div>
            </div>
            <div id="btn-box">
            <button class="btn waves-effect grey darken-1" type="submit" name="action">Add Record
                <i class="material-icons right">playlist_add</i>
            </button>
            <button class="btn waves-effect grey darken-1" type="submit" name="action">Cancel
            </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}