<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>pulp records</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
</head>

<body>
  <!--Navbar visible for logged in users -->
  
 <header> 
   <!--Toastr popup function -->
  {{ toastr.include_jquery() }}
  {{ toastr.include_toastr_css() }}
  {{ toastr.message() }}
  
  <nav class="navbar">
    {% if current_user.is_authenticated %}
    <div class="nav-wrapper container">
      <div>
        <a href="{{url_for('index')}}"><img alt="pulp-logo" class="pulp-logo" src="../static/images/pulp-records-logo1.png"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{url_for('index')}}">Home</a></li>
        <li><a href="{{url_for('records')}}">Records</a></li>
        <li><a href="{{url_for('add_records', username=current_user.username)}}">Add Record</a></li>
        <li><a href="{{url_for('profile', username=current_user.username)}}">Profile</a></li>
        <li><a href="{{url_for('logout')}}">Log Out</a></li>
      </ul>
      <ul id="nav-mobile" class="sidenav">
        <li><a href="{{url_for('index')}}">Home</a></li>
        <li><a href="{{url_for('records')}}">Records</a></li>
        <li><a href="{{url_for('add_records', username=current_user.username)}}">Add Record</a></li>
        <li><a href="{{url_for('profile', username=current_user.username)}}">Profile</a></li>
        <li><a href="{{url_for('logout')}}">Log Out</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </div>
  
    <!--Navbar visible for logged out users -->
    {% else %}

  <div class="nav-wrapper container">
    <div>
      <a href="{{url_for('index')}}"><img alt="pulp-logo" class="pulp-logo" src="../static/images/pulp-records-logo1.png"></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{{url_for('index')}}">Home</a></li>
      <li><a href="{{url_for('records')}}">Records</a></li>
      <li><a href="{{url_for('register')}}">Sign Up</a></li>
      <li><a href="{{url_for('login')}}">Log In</a></li>
    </ul>
    <ul id="nav-mobile" class="sidenav">
      <li><a href="{{url_for('index')}}">Home</a></li>
      <li><a href="{{url_for('records')}}">Records</a></li>
      <li><a href="{{url_for('register')}}">Sign Up</a></li>
      <li><a href="{{url_for('login')}}">Log In</a></li>
    </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </div>
  {% endif %}
  </nav>
 </header>
 
<main>
<div class="sidenav-close">
{% block content %}
{% endblock %}
</div>
</main>
  
  <!-- Footer -->
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12 center">
          <h5 class="white-text">Pulp Records</h5>
        </div>
        <br>
        <div class="col l6 s12 center social-links">
          <div class="row">
            <div class="col s12 l3"><a target="_blank" class="white-text" href="https://www.facebook.com/"><i class="fa fa-facebook-square"></i></a></div>
            <div class="col s12 l3"><a target="_blank" class="white-text" href="https://twitter.com/explore"><i class="fa fa-twitter-square"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright center">
      <div class="container">
        © 2020 Copyright Pulp Records
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <!-- Script from materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Js script -->
  <script src="{{url_for('static', filename='js/script.js')}}"></script>
  <!-- Toastr popup function -->
  {{ toastr.include_toastr_js() }}
  </body>
</html>
