<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>pulp records</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>-->
  <!--<link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>--->
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
</head>


  <!----------------navbar---------------->
 <header> 
  <nav class="navbar" role="navigation">
    <div class="nav-wrapper container">
      <div>
        <a href="{{url_for('index')}}"><img id="pulp-logo" src="../static/images/pulp-records-logo1.png"></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{url_for('index')}}">Home</a></li>
        <li><a href="{{url_for('records')}}">Records</a></li>
        <li><a href="{{url_for('add_records')}}">Add Record</a></li>
        <li><a href="{{url_for('profile')}}">Profile</a></li>
        <li><a href="{{url_for('log_out')}}">Log Out</a></li>
      </ul>
      <ul id="nav-mobile" class="sidenav">
        <li><a href="{{url_for('index')}}">Home</a></li>
        <li><a href="{{url_for('records')}}">Records</a></li>
        <li><a href="{{url_for('add_records')}}">Add Record</a></li>
        <li><a href="{{url_for('profile')}}">Profile</a></li>
        <li><a href="{{url_for('log_out')}}">Log Out</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
 </header>
  <!---------------------section------------------------>
<!----
  <div id="index-banner" class="parallax-container background-upper">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div class="row">
          <div class="upper-banner col s12 m6" id="text-banner">
          <h3>Register and find your favorites record</h3>
          <a href="#" id="recordsPageButton" class="btn-small waves-effect waves-light yellow darken-1">Get Started!</a>
          </div>
          <div class="botton-banner col s12 m6 ">
          <img id="pulp-logo-banner" src="../static/images/pulp-records-logo1.png">
          </div>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="../static/images/background-img.jpg" alt="Unsplashed background img 1"></div>
  </div>
---->
<!-----------------------Icon Section-------------------->
<!-------
  <div class="container icon-cection">
    <div class="section">
      <div class="row">

        <div class="col s12 m3">
          <div class="icon-block center">
            <div class="record-images center">
              <img src="../static/images/record-img1.jpg">
            </div>
            <h6 class="record-images-name center">Jimi Hendrix</h6>
            <p class="light">
              The debut album by The Jimi Hendrix Experience and the first album on the Track Record label, Are You Experienced was initially issued in mono and then 'enhanced stereo' on later issues.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block center">
            <div class="record-images center">
              <img src="../static/images/record-img2.jpg">
            </div>
            <h6 class="record-images-name center">Death</h6>
            <p class="light">Death was an African American hard rock proto-punk band formed by the brothers Bobby, David and Dannis Hackney in Detroit, Michigan in 1971.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block center">
            <div class="record-images center">
              <img src="../static/images/record-img3.jpg">
            </div>
            <h6 class="record-images-name center">Clash</h6>
            <p class="light">Influential British punk group from west and south London, active between 1976 and 1985. Adding catchy sloganistic socio-political lyrics to their brand of garage rock 'n' roll</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block center">
            <div class="record-images center">
              <img src="../static/images/record-img4.jpg">
            </div>
            <h6 class="record-images-name center">Specials</h6>
            <p class="light">The Specials (originally known as The Coventry Automatics, then later named The Special AKA) were the first band of the 2-Tone era in the late '70s and early '80s in Britain.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper" id="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 parallax-container-text"> Find your favorites records</h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../static/images/background-img2.jpg" alt="Unsplashed background img 2"></div>
  </div>
---->
  <main>
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </main>
  <!---------------------Footer----------------------->
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12 center">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are an online record review application. Our purpose is to provide information and the ability for users to share their favorite records.</p>


        </div>
        <div class="col l3 s12 center">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Contact</a></li>
            <li><a class="white-text" href="#!">Privacy</a></li>
            <li><a class="white-text" href="#!">Status</a></li>
            <li><a class="white-text" href="#!">Help</a></li>
          </ul>
        </div>
        <div class="col l3 s12 center">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">FaceBook</a></li>
            <li><a class="white-text" href="#!">Twitter</a></li>
            <li><a class="white-text" href="#!">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright center">
      <div class="container">
        © 2020 Copyright Pulp Records
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <body>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script src="{{url_for('static', filename='js/init.js')}}"></script>

  <script>
  //Bug fix so that the task records can be displayed
  document.getElementById("recordfix").addEventListener("click", function(e) {
      e.stopPropagation();
  });
  </script>
  </body>
</html>
