{% extends "base.html" %} 

{% block content %}
  <!-- section -->

  <div id="index-banner" class=" background-upper">
    <div class="section no-pad-bot-upper">
      <div class="container">
        <br><br>
        <div class="row">
          <div class="upper-banner col s12 m6" id="text-banner">
          <h3>Register and find your favorites record</h3>
          <a href="{{url_for('register')}}" id="recordsPageButton" class="btn-small waves-effect waves-light yellow darken-1">Get Started!</a>
          </div>
          <div class="botton-banner col s12 m6 ">
          <img id="pulp-logo-banner" src="../static/images/pulp-records-logo1.png">
          </div>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax" id="background-upper-image"></div>
  </div>

<!-- Icon Section -->
<div class="image-section">
  <div class="container icon-cection">
    <div class="section">
      <div class="row">
        <!-----        <div class="col s12 m3">
          <div class="icon-block center">
            {% for records in recordCollection %}
            <div class="collection-item center col s12 m4 l4">
              <div class="div-label">{{ records.artist_name }}</div>
              <div><a href="{{url_for('view_record', record_id=record._id)}}"><img alt="img-collection" class="img-collection" src="{{ records.image_id }}"></a></div>
            </div>
            {% endfor %} 
          </div>
        </div>-->
        <div class="col s12 m3">
          <div class="icon-block center">
            <div class="record-images center">
              <img alt="record-img1" src="../static/images/record-img1.jpg">
            </div>
            <h6 class="record-images-name center">Jimi Hendrix</h6>
            <p class="light">
              The debut album by The Jimi Hendrix Experience and the first album on the Track Record label, Are You Experienced was initially issued in mono and then 'enhanced stereo' on later issues.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block center">
            <div class="record-images center">
              <img alt="record-img2" src="../static/images/record-img2.jpg">
            </div>
            <h6 class="record-images-name center">Death</h6>
            <p class="light">Death was an African American hard rock proto-punk band formed by the brothers Bobby, David and Dannis Hackney in Detroit, Michigan in 1971.</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block center">
            <div class="record-images center">
              <img alt="record-img3" src="../static/images/record-img3.jpg">
            </div>
            <h6 class="record-images-name center">Clash</h6>
            <p class="light">Influential British punk group from west and south London, active between 1976 and 1985. Adding catchy sloganistic socio-political lyrics to their brand of garage rock 'n' roll</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block center">
            <div class="record-images center">
              <img alt="record-img4" src="../static/images/record-img4.jpg">
            </div>
            <h6 class="record-images-name center">Specials</h6>
            <p class="light">The Specials (originally known as The Coventry Automatics, then later named The Special AKA) were the first band of the 2-Tone era in the late '70s and early '80s in Britain.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="parallax-container valign-wrapper" id="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 parallax-container-text"> Find your favorites records</h4>
        </div>
      </div>
    </div>
    <div class="parallax" id="background-under-image"><img src="../static/images/background-img2.jpg"></div>
  </div>
{% endblock %}