{% extends "base.html" %} 
{% block content %}
<br><br>
<div class="container" id="info-container">
    <h4 class="center h4header">Profile</h4>
    <div id="account-details" class="row">
        <div class="col s12 div-label">Username: {{ user.username }}</div>
        <br><br>
        <div class="col s12 div-label">Email: {{ user.email }}</div>
    </div>
    <br>
    <div id="btn-box">
        <br><br>
        <a class="btn waves-effect waves-light red darken-1" href="{{url_for('delete_profile', user_id=user._id)}}">Delete account<i class="material-icons right">delete_forever</i></a>
        <br><br>
        <p>Your Records</p>
        <br>
        <div class="container center records-container">
            <div class="row">
                <ul class="collapsible" data-collapsible="accordion">
                    {% for record in recordCollection %}
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons left">expand_more</i>
                            <div class="div-lable center">{{record.artist_name}}</div>
                        </div>
                        <div class="collapsible-body center">
                            <div>
                                <img alt="img-collection" class="img-collection" src="{{ record.image_id }}">
                                <div class="div-lable center">{{record.record_title}}</div>
                                <br>
                                <a href="{{url_for('edit_record', record_id=record._id)}}" class="waves-effect waves-light btn btn_small">Edit Record</a>
                                <a href="{{url_for('delete_record', record_id=record._id)}}" class="waves-effect waves-light btn btn_small red">Delete Record</a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <br><br>
    </div>
</div>
<br><br>
{% endblock %}