{% extends 'base.html' %} 
{% block content %}
<br>
<br>
<div class="container" id="info-container">
    <h4 class="center h4header">Records</h4>
    <br>
    <div class="row col s12 m4 l4">
        <!-- Displays the records -->
        {% for record in recordCollection %}
        <div class="collection-item center col s12 m4 l4">
            <div class="div-label">{{ record.artist_name }}</div>
            <div><a href="{{url_for('view_record', record_id=record._id)}}"><img alt="img-collection" class="img-collection" src="{{ record.image_id }}"></a></div>
            <div class="div-label"> {{ record.record_title }} </div>
            <div class="div-label">{{ record.genre_name }}</div>
            <br>
        </div>
        {% endfor %} 
    </div>
    <br>
</div>
<br>
<br>
{% endblock %}