{% extends "base.html" %} 
{% block content %}
<br>
<br>
<div class="container" id="info-container">
<h4 class="center h4header">Sign Up</h4>
<!-- Registration form -->
<form action="/register" method="POST">
  {{ form.hidden_tag() }}
  <!-- Form input for username -->
    <div class="row">
        <div class="col s12 div-label">Username: {{ form.username }}</div>
    </div>
    <!-- Form input for email -->
    <div class="row">
        <div class="col s12 div-label">Email:{{ form.email }}</div>
    </div>
    <!-- Form input for password -->
    <div class="row">
        <div class="col s12 error div-label">Password: {{ form.password }} {% for error in form.password.errors %}
          {{ error }}
         {% endfor %}
        </div>
    </div>
    <!-- Form input for repeat password -->
    <div class="row">
        <div class="col s12 error div-label">Repeat Password: {{ form.password2 }} {% for error in form.password2.errors %}
          {{ error }}
         {% endfor %}
        </div>
    </div>
  <br>
  <br>
  <div id="btn-box">
    <button class="btn waves-effect center grey darken-1" type="submit" value="Login" name="action">Sign Up</button>
  </div>
</form>
</div>
<br>
<br>
{% endblock %}