{% extends "base.html" %} 

{% block content %}
<br>
<br>
<div class="container" id="info-container">
<h4 class="center h4header">Registration</h4>
<form action="/register" method="POST">
  <p>Email</p>
    <div class="row">
        <div class="col s12 title">{{ form.email }}</div>
    </div>
  <p>Password</p>
    <div class="row">
        <div class="col s12"> {{ form.password }} {{ form.hidden_tag() }}</div>
    </div>
  <br>
  <br>
  <input type="submit" value="Submit">
</form>
</div>
<br>
<br>
{% endblock %}